header {
    background: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float:right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Permanent Marker', cursive;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.list {
    top: 35px;
}

.nameList {
    float: left;
}

.mainText {
    color: white;
}

.profileImg {
    border-radius: 50%;
    height: 275px;
}

.gallery {
    height: 200px;
    width: 200px;
}

.contactImg {
    height: 200px;
    width: 200px;
}

footer {
    height: 50px;
    margin-top: -50px;
    text-align: center;
    color: white;
    background-color: #333;
    padding: 20px;
    font-size: 12px;
    font-family: Verdana,sans-serif;
    line-height: 1.5;
}

.hoverImg:hover {
    box-shadow: 0 1px 8px white;  
}

h1 {
    font-family: 'Knewave', cursive;
}

p {
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}

#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    font-family: 'Maven Pro', sans-serif;
}

#topButton:hover {
    box-shadow: 0 1px 8px white;  
}